<table class="table">
  <tr>
    <th style="width:40%;">Serotype</th>
    <th>Response</th>
    <th style="width:10%;"></th>
  </tr>
  <tr ng-repeat="serotype in variables">
    <td>{{serotype}}</td>
    <td><input type="number" class="form-control" ng-model="patient()[serotype]" required></td>
    <td><button ng-click="removeSerotype(serotype)" type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></td>
  </tr>
</table>
<form name="form" ng-submit="createNew(formdata)" novalidate>
  <table class="table">
    <tr>
      <td style="width:40%"><select id="select-serotype" ui-select2 ng-model="formdata.serotype" data-placeholder="pick one" style="width:100%" required>
        <option value=""></option>
        <option value="{{st}}" ng-repeat="st in serotypes">{{st}}</option>
      </select></td>
      <td><input type="number" min="0" step="any" class="form-control" ng-model="formdata.response" required></td>
      <td style="width:10%;"><button ng-disabled="form.$invalid" type="submit" class="btn btn-default">+</button></td>
    </tr>
  </table>
</form>